<?xml version="1.0" encoding="UTF-8"?>


<web-app 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" 
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
  version="4.0">

  <display-name>servletjsp</display-name>




<!-- <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>org.zerock.myapp.servlet.HelloServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/Hello</url-pattern>
    <url-pattern>/Rain</url-pattern>
    <url-pattern>/Snow</url-pattern>
  </servlet-mapping> -->

    <!-- <servlet>
    <servlet-name>InitParaServlet</servlet-name>
    <servlet-class>org.zerock.myapp.servlet.InitParaServlet</servlet-class>

    <init-param>
      <param-name>dirPath</param-name>
      <param-value>C:/temp</param-value>
    </init-param>
    <init-param>
      <param-name>userid</param-name>
      <param-value>Rain</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>InitParaServlet</servlet-name>
    <url-pattern>/InitPara</url-pattern>

  </servlet-mapping> -->
  
  <context-param>
     <param-name>driver</param-name>
     <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
     <param-name>savePath</param-name>
     <param-value>C:/app</param-value>
  </context-param>
  
  <servlet>
     <servlet-name>ContextParamServlet</servlet-name>
     <servlet-class>org.zerock.myapp.servlet.ContextParamServlet</servlet-class>
     
     <init-param>
        <param-name>dirPath</param-name>
        <param-value>C:/temp</param-value>
     </init-param>
     <init-param>
        <param-name>userid</param-name>
        <param-value>Rain</param-value>
     </init-param>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>ContextParamServlet</servlet-name>
     <url-pattern>/ContextParam</url-pattern>
  </servlet-mapping>
  <!-- org.zerock.myapp.listener.ServletContextListenerImpl -->
  <listener>
    <listener-class>org.zerock.myapp.listener.ServletContextListenerImpl</listener-class>
  </listener>
  
  <!-- time out = 지정시간이 지나면 파괴도도록 만듬 예제) 1분-->
  <!-- 아래의 설정은, 한번 생성된 세션의 유효시간을 분단위로 설정합니다.
       즉 아래 설정은 한번 생성된 세션은,
       1분동안 동일한 웹브라우저로부터 요청이 들어오지 않으면
       즉시 파괴하라는 설정입니다. -->
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
</web-app>