<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


    <mapper namespace="org.zerock.myapp.mapper.OneOnOneBoardMapper">
        <insert id="insert">
            <selectKey keyProperty="postno" order="AFTER" resultType="int">
                SELECT "ISEQ$$_74527".CURRVAL FROM dual            
            </selectKey>
            INSERT INTO tbl_oneononeinquiry(nickname, title, content) 
            VALUES (#{nickname}, #{title}, #{content})
        </insert>

        <select id="select" resultType="org.zerock.myapp.domain.OneOnOneBoardVO">
            SELECT *
            FROM tbl_oneononeinquiry
            where postno = #{postno}
        </select>

        <delete id="delete">
            DELETE FROM tbl_oneononeinquiry
            WHERE postno = #{postno}
        </delete>

        <update id="update">
            UPDATE tbl_oneononeinquiry
            SET
                title = #{title},
                content = #{content},
                nickname = #{nickname},
                modifydate = current_date
            WHERE
                postno = #{postno}
        </update>
    </mapper>
