<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.myapp.mapper.QnABoardMapper">

    <insert id="insert">
        <selectKey keyProperty="postno" order="AFTER" resultType="int">
        SELECT "ISEQ$$_75766".CURRVAL FROM dual
        </selectKey>

        INSERT INTO tbl_qnaboard (nickname, title, content) 
        VALUES (#{nickname}, #{title}, #{content})
    </insert>

    <select id="select" resultType="org.zerock.myapp.domain.QnABoardVO">
        SELECT * 
        FROM tbl_qnaboard
        WHERE postno = #{postno}
    </select>

    <delete id="delete">
        DELETE FROM tbl_qnaboard
        WHERE postno = #{postno}
    </delete>

    <update id="update">
        UPDATE tbl_qnaboard
        SET title = #{title}, 
        	nickname = #{nickname},
            content = #{content}, 
            modifydate = current_date
        WHERE postno = #{postno}
    </update>

    <update id="updateReadcnt">
        UPDATE tbl_qnaboard
        SET readcnt = readcnt + 1
        WHERE postno = #{postno}
    </update>
    

</mapper>