@charset "utf8";

/* css 초기화 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
}

hr {
    border: 1px dotted rgb(213, 213, 213);;
    color: rgb(213, 213, 213);    
    margin: 15px;
}


h1 {
    /* background-color: rgb(238, 238, 238); */
    font-size: 30px;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
}
  
.container {
    width: 80%;
    margin: 40px auto;
    /* border: 2px solid blue;  */
}



/* 헤드영역 */


.user-info{
    margin-left: 20px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
}

.profile-img {
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow:hidden;
    margin:0 auto;
}

.profile-img > img {
    width:100%;
    height:100%;
    object-fit: fill;
    
}

.nickname {
    height: 20px;
    width: fit-content;
    text-decoration: none;
    color: black;
    /* margin-bottom: px auto; */
    /* display: inline-block; */
    /* position: absolute; */


}

.date {
    display: inline-block;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    left: 160px;
    
}

.head {
    position: relative;
    height: 70px;
    overflow: hidden;
}


.likebtn {
    position: absolute;
    right: 65px;
    top: 28px;
    font-size: 15px;
    padding: 5px;
    height: 38px;
    width: 110px;
    background-color:#2B65F8;
    border: none;
    color: white;
    border-radius: 35px;
}
.likebtn:hover{
    background-color: #5e8cff;
}

.morebtn {
    position: absolute;
    right: 25px;
    top: 31px;
    font-size: 25px;
    margin: 5px;
}



/* 사진 영역 */
.photo-wrap {
    background-color: rgb(232, 234, 235);
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 50px auto;
}
.photo {
    width:500px;
    height:400px;
    border-radius: 15px;
    overflow:hidden;
    display: inline-block;
    position: relative;
}
img {
    width:100%;
    height:100%;
    object-fit: fill;   
}



/* 제목 영역 */
.title {
    /* border: 1px solid rgb(108, 108, 108); */
    box-shadow: 0 0 2px rgb(105, 105, 105);
    margin: 20px;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

/* 내용 영역 */

.content {

    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 0 0 4px rgb(213, 213, 213);
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    padding: 50px;
}