@charset "utf8";

/* css 초기화 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}


ul {
    list-style:none;
}

li {
    display: inline-block;
    vertical-align: top;
    /* width: 33.3%; */
}
  
h1 {
    background-color: rgb(221, 221, 221);
    font-size: 4rem;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
}
  

.container {
    width: 70%;
    margin: 40px auto;
    /* border: 2px solid blue;  */
}



.boardlist {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    /* border: 4px solid red; */
    flex-flow : row wrap; 
}

.post-wrap {
    margin: 20px;
}



/* 프로필 영역 */
.profile {
    display: flex;
    width: 100%;
    height: 40px;
    /* justify-content: center; */
    align-items: center;
}

.profile-img {

    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow:hidden;
}

.profile-img > img {
    vertical-align:bottom;
    display: block;
    width:30px;
    height:30px;
    object-fit: fill;
}

.nickname {
    height: 20px;
    width: fit-content;
    text-decoration: none;
    color: black;
    /* margin-bottom: px auto; */
    display: inline-block;
    margin-left: 5px;
    font-size: 1.6rem;

}


/* 게시글 영역  */
.post {
    width:300px;
    height:300px;
    border-radius: 15px;
    overflow:hidden;
    display: inline-block;
    position: relative;
}

.postimg {
    width:100%;
    height:100%;
    object-fit: fill;
}

.like {
    color: rgb(111, 111, 111)
}

.view {
    color: rgb(111, 111, 111);
}



/* 글쓰러가기 버튼*/
.prompt-box {
    position: relative;
    display: flex;
    border: 1px solid #ccc;
    margin: 100px auto;
    width: 100%;
    height: 100px;
    border-radius: 16px;
    background-color: #F5F5F5;
    text-align: center;
    overflow: hidden;
}

.prompt-message {
    position: absolute;
    left: 30px;
    top: 30%;
    text-align: left;
    font-size: 15px;
    /* font-family: serif; */
    overflow: hidden;

}

.write-btn {
    width: 120x;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: #2B65F8;
    border: none;
    border-radius: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13px;
    color: white;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 10px;
}


/* 페이지네이션 */

.pagination {
    display: inline-block;
    margin: 30px auto;

}
  
.pagination a {
    font-size: 1.5rem;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }